{% extends "base.html" %}

{% block title %}Add user{% endblock %}

{% block content %}
<h1>Create a user</h1>
<form id="form-add-user" action="/users/new" method="post">
    <label for="form-add-user__input-first-name">First Name</label>
    <input id="form-add-user__input-first-name" type="text"
        placeholder="Enter a first name" name="first-name" required />
    <label for="form-add-user__input-last-name">Last Name</label>
    <input id="form-add-user__input-last-name" type="text"
        placeholder="Enter a last name" name="last-name" required />
    <label for="form-add-user__input-image-url">Image URL</label>
    <input id="form-add-user__input-image-url" type="url"
        placeholder="Provide an image of this user" name="image-url" />
    <button>Add</button>
</form>
{% endblock %}