{% extends "base.html" %}

{% block title %}Edit user{% endblock %}

{% block content %}
<h1>Edit a user</h1>
<form id="form-edit-user" action="/users/{{ user.id }}/edit" method="post">
    <label for="form-edit-user__input-first-name">First Name</label>
    <input id="form-edit-user__input-first-name"
        type="text"
        placeholder="Enter a first name"
        name="first-name"
        value="{{ user.first_name }}"
        required />
    <label for="form-edit-user__input-last-name">Last Name</label>
    <input id="form-edit-user__input-last-name"
        type="text"
        placeholder="Enter a last name"
        name="last-name"
        value="{{ user.last_name }}"
        required />
    <label for="form-edit-user__input-image-url">Image URL</label>
    <input id="form-edit-user__input-image-url"
        type="url"
        placeholder="Provide an image of this user"
        name="image-url"
        value="{{ user.image_url }}" />
    <a href="/users/{{ user.id }}">Cancel</a>
    <button>Save</button>
</form>
{% endblock %}